$primaryColor :#18181b;
$secondColor:#26c5b2;
$primaryTextColor:#f4f4f5;
$secondTextColor:#8d8d95;
$mobileBreakPoints:489px;
$tabletBreakPoints:720px;
$desktobBreakPoints:1312px;
$HeadingFontSize:48px;
$spaceY:4rem 2rem 0 0;
